{
    "plugins": [
        [
            "module-resolver",
            {
                "root": [
                    "./src"
                ]
            }
        ],
        [
            "transform-runtime", {
                "polyfill": false,
                "regenerator": true
              }
        ]
    ],
    "presets": ["env"]
}