{
  "plugins": [
      [
          "module-resolver",
          {
              "root": [
                  "./src"
              ]
          }
      ],
      [ "transform-runtime"]
  ],
  "presets": ["env"]
}